# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "*/10 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics-left:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: left-metrics.svg
          
          # Options
          user: ZhenHuangLab
          template: classic
          base: repositories
          base_indepth: yes
          config_timezone: Asia/Shanghai
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_pagespeed: yes
          plugin_pagespeed_url: https://zhenhuang.site
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_details: percentage
          plugin_languages_limit: 20
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_starlists: yes
          plugin_starlists_languages: yes
          plugin_starlists_limit_languages: 8
          plugin_starlists_limit_repositories: 0
          plugin_starlists_limit: 1
          plugin_starlists_shuffle_repositories: yes
          config_order: base.repositories, languages, isocalendar, starlists, pagespeed
  
  github-metrics-right:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: right-metrics.svg
          
          # Options
          user: ZhenHuangLab
          template: classic
          base: activity
          base_indepth: yes
          config_timezone: Asia/Shanghai
          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 4
          plugin_activity_load: 300
          plugin_activity_visibility: all
          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          plugin_achievements_ignored: infographile, automator, follower
          plugin_rss: yes
          plugin_rss_limit: 3
          plugin_rss_source: https://blog.zhenhuang.site/posts/index.xml
          config_order: base.activity+community, activity, achievements, rss

  github-metrics-plugin-anilist:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.anilist.svg
          token: NOT_NEEDED
          base: ""
          plugin_anilist: yes
          plugin_anilist_user: ZhenHuang
          plugin_anilist_medias: anime
          plugin_anilist_sections: favorites
          plugin_anilist_limit: 1
  
  github-metrics-plugin-wakatime:
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
        - name: WakaTime
          uses: lowlighter/metrics@latest
          with:
            filename: metrics.plugin.wakatime.svg
            token: NOT_NEEDED
            base: ""
            plugin_wakatime: yes
            plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, os
            plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
            plugin_wakatime_user: zhenhuang
            plugin_wakatime_days: 180
